body,p,ul,li,a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Century Gothic Std,Arial,sans-serif;
}
/* 最外面的盒子 */
.wrap{
    width: 100%;
}
/* 头部 */
.head{
    border-bottom: 1px solid #e5e5e5;
}
.ha{
    padding: 17px 20px 20px;
}
/* 搜索框 */
.search{
    margin-left: 30px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.search>input{
    padding: 11px 80px 11px 25px;
    border-radius: 30px;
    outline: none;
    font-size: 15px;
    border: 1px solid #757575;
}
.seaimg{
    width: 21px;
    height: 21px;
    background: url("../img/搜索.png") 0 0 no-repeat;
    position: absolute;
    top: 9px;
    right: 20px;
}
/* logo */
.logo{
    display: inline-block;
    vertical-align: middle;
    padding: 0 23%;
}
.limg{
    width: 122px;
    height: 42px;
    background: url("../img/logo.png") 0 0 no-repeat;
}
/* 购物篮 */
.Hshopp{
    vertical-align: middle;
    float: right;

}
.Hshopp span{
    display: inline-block;
    margin: 10px;
}
/* 收藏 */
.hcoll{
    width: 25px;
    height: 25px;
    background: url("../img/收藏\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
/* 用户 */
.huser{
    width: 25px;
    height: 25px;
    background: url("../img/用户\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
/* 购物袋 */
.hshop{
    width: 25px;
    height: 25px;
    background: url("../img/购物袋\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
/* 导航栏 */
.nav{
    padding: 5px 0  15px;
    position: relative;
    text-align: center;
}
.nav>a{
    color:#000;
    font-size: 14px;
    margin: 0 15px;
    padding: 0 3px 15px;
    position: relative;
}
.nav>a:after{
    content: "";
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .3s;
}
.nav>a:hover:after{
    left: 0%;
    width: 100%;
}
.nav>a:hover{
    font-weight: bold;
}
/* 女士商品详情 */
.commodity{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    /* border: 1px solid red; */
    padding: 10px 0 0 ;
    text-align: left;
    font-size: 14px;
    z-index: 50;
    background: #fff;
    color: #666666;
    display: flex;
    justify-content: space-around;
    display: none;
}
.commodity>ul>li>img{
    width: 145px;
    margin-bottom: 5px;
}
.commodity>ul{
    display: block;
}
.ul1>li{
    width: 145px;
}
.commodity>ul>li{
    width: 120px;
    margin: 15px 0 15px;
}
.commodity>ul>li>span{
    padding: 10px;
}
.commodity>ul>li>div{
    width: 59px;
    border: 1px solid #e5e5e5;
}
.commodity>ul>li:hover{
    font-weight: bold;
}
.nA:hover+.commodity{
    display: flex;
}
.commodity:hover{
    display: flex;
}
/* 男士商品详情 */
.detail{
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px 0 0 ;
    text-align: left;
    font-size: 14px;
    z-index: 50;
    color: #666666;
    background: #fff;
    display: flex;
    justify-content: space-around;
    display: none;

}
.detail>ul{
    display: block;
}
.detail>ul>li{
    width: 150px;
    margin: 15px 0 15px;
}
.detail>ul>li>img{
    width: 145px;
    margin-bottom: 5px;
}
.detail>ul>li>span{
    padding: 10px;
}
.detail>ul>li>div{
    width: 59px;
    border: 1px solid #e5e5e5;
}
.detail>ul>li:hover{
    font-weight: bold;
}
.na:hover+.detail{
    display: flex;
}
.detail:hover{
    display: flex;
}
/* 轮播图 */
.slideShow{
    width: 100%;
    padding: 20px 0 40px;
}
/* 轮播图图片 */
.sS{
    width: 97%;
    margin: 0 auto;
}
.sS img{
    width: 100%;
    height: 560px;
}
/* 按钮 */
.Bp,.Bn{
    color: #666;
    margin-top: 100px;
}
.Bp{
    margin-left: 30px;
}
.Bn{
    margin-right: 30px;
}
.Bn:after{
    font-size: 20px;
}
.Bp:after{
    font-size: 20px;
}
/* 分页器 */
.sp{
    right: 0;
    margin-right: calc(100% / 30);
}
.sp>span{
    margin: 3px;
}
:root {
    --swiper-theme-color: #000;
}
/* 购买信息 */
.sx{
    margin: 20px 0 0;
}
.scontent{
    font-size: 27px;
    color: #000;
}
.stit{
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    background: #000;
    border-radius: 30px;
    text-align: center;
    padding: 15px 65px;
    display: inline-block;
}
.ns{
    color: #999;
    font-size: 15px;
}
.stit>span:nth-child(1){
    width: 20px;
    height: 20px;
    background: #fff;
    background: url("../img/商品\ 购物袋2\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
.stit>span{
    vertical-align: top;
    display: inline-block;
}
.stit>span:nth-child(2):hover{
    font-weight: bold;
}
/* 商品轮播图 */
.comShow{
    width: 100%;
    background: #f6f6f6;
    padding: 20px 0;
    text-align: center;
}
.sData{
    text-transform: uppercase;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}
.hr{
    height: 1px;
    width: 100%;
    background-color: #000;
    margin: 5px;
}
.smonth{
    padding: 0 10px;
}
.comContent{
    font-size: 52px;
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    word-break: break-all;
}
/* 商品 */
.comshop{
    width: 80%;
    margin: 0 auto;
}
.Sslide{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.shopContent{
    width: 320px;
}
.shoptit{
    margin: 10px 0;
}
.imga{
    position: relative;
}
.collect{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    background: url("../img/收藏\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
.imga>img{
    width: 320px;
}
.sSet{
    color: #666;
}
.snull{
    height: 40px;
}
.sName{
    font-size: 15px;
    color: #000;
    word-break: break-all;
}
.snp{
    height: 100px;
}
.sMoney{
    font-family: Century Gothic Std Bold;
    color: #000;
}
.sMoney>span{
    font-weight: bold;
}
.shopBuy{
    margin-top: 10px;
    font-size: 15px;
    color: #fff;
    background: #000;
    border-radius: 30px;
    text-align: center;
    padding: 15px 30px;
    display: inline-block;
}
.shopBuy>span:nth-child(1){
    width: 20px;
    height: 20px;
    background: #fff;
    background: url("../img/商品\ 购物袋2\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
.shopBuy>span{
    vertical-align: top;
    display: inline-block;
}
.shopBuy>span:nth-child(2):hover{
    font-weight: bold;
}
.introduce{
    color: #000;
    margin-bottom: 20px;
}
.introduce>span{
    font-weight: bold;
}
.pp{
    padding: 39px;
}
.zp{
    padding: 10px;
}
.xp{
    padding: 60px;
}
.nb,.pb{
    margin-top: -150px;
}
.nb:after{
    font-size: 20px;
}
.pb:after{
    font-size: 20px;
}
.comSp{
    bottom: -3px !important;
}
/* 女士 */
.ladyDior{
    width: 100%;
    margin: 40px 0;
    text-align: center;
}
.ladyDior>div:nth-child(1){
    font-size: 62px;
    color: #000;
}
.ladyDior>div:nth-child(2){
    margin: 0 0 32px;
}
.Diorimg{
    width: 97%;
    margin: 0 auto;
}
.Diorimg>img{
    width: 100%;
}
.fontred{
    font-size: 34px;
    text-align: left;
    color: #000;
    margin-left: 20px;
}
.ladydior{
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    color: #000;
    margin-bottom: 40px;
}
.ladyImg{
    width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.Iimgs{
    width: 299px;
}
.Iimgs>img{
    width: 100%;
}
.Iimgs>p{
    font-size: 26px;
    color: #000;
    text-align: left;
}
/* 男士 */
.manDior{
    width: 97%;
    margin: 40px auto;
    padding: 40px 0 0;
    border-top:2px solid #f6f6f6;
    text-align: center;
}
.manDior>div:nth-child(1){
    font-size: 62px;
    color: #000;
}
.manDior>div:nth-child(2){
    margin: 0 0 32px;
}
.manImg{
    width: 100%;
}
.manImg>img{
    width: 100%;
}
.fontreds{
    font-size: 34px;
    text-align: left;
    color: #000;
}
.ladydiors{
    text-align: left;
    font-size: 16px;
    color: #000;
    margin-bottom: 40px;
}
.mimgs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mimgs>div:nth-child(1)>img{
    width: 636px;
}
.mimgss{
    width: 299px;
}
.mimgss>img{
    width: 100%;
} 
.mimgs p{
    font-size: 26px;
    color: #000;
    text-align: left;
}
/* 童装 */
.wear{
    width: 97%;
    margin: 40px auto;
    padding: 40px 0 0;
    border-top:2px solid #f6f6f6;
    text-align: center;
}
.wear>div:nth-child(1){
    font-size: 62px;
    color: #000;
}
.wear>div:nth-child(2){
    margin: 0 0 32px;
}
.wearImg{
    width: 100%;
}
.wearImg>img{
    width: 100%;
}
.wImg{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.wImgs{
    width: 299px;
}
.wImgs>img{
    width: 100%;
}
.wImgs>p{
    font-size: 26px;
    color: #000;
    text-align: left;
}
/* 精品店 */
.boutique{
    width: 100%;
    height: 319.5px;
    background: url("../img/背景图.webp") 0 0 no-repeat;
    text-align: center;
    font-size: 0;
}
.boucontent{
    font-size: 35px;
    padding-top: 100px;
}
.bouinp{
    padding: 20px 0 0;
}
.bouinp>input{
    padding: 20px 30px;
    border: 1px solid #000;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    vertical-align: top;
}
.bouImg{
    background: #000;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    border-radius: 0 30px 30px 0;
    padding: 17.5px 5px;
}
.bouImg>img{
    width: 25px;
}
/* 专项服务 */
.serve{
    background: #000;
    text-align: center;
    color: #fff;
    padding: 25px;
}
.servetit{
    font-size: 35px;
    margin: 30px 0 40px;
}
.servecont{
    width: 70%;
    margin: 0 auto;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
}
.servecont>div{
    width: 266px;
}
.servecont p{
    margin: 10px 0 8px;
}
/* 底部 */
.footer{
    text-align: center;
    padding: 30px;
}
.footer>div{
    width: 400px;
    display: inline-block;
    /* border: 1px solid red; */
    vertical-align: middle;
}
.mun{
    font-size: 0;
}
.mun>div:nth-child(1){
    font-size: 15px;
    margin: 0 0 10px;
}
.mun>input{
    padding: 15px 30px;
    color: #666;
    font-size: 16px;
    border-radius: 30px 0 0 30px;
    border: 1px solid #000;
    border-right: none;
    vertical-align: top;
}
.mun>div:nth-child(3){
    vertical-align: top;
    border: 1px solid #000;
    border-left: none;
    display: inline-block;
    border-radius: 0 30px 30px 0;
    width: 36px;
    padding: 13.5px 15px;
    background: #e5e5e5;
    color: #fff;
    font-size: 16px;
}
.title{
    padding: 10px 20px;
}
.title>p{
    padding: 10px 0;
    text-decoration: underline;
    color: #000;
    font-size: 15px;
}
.title>p:hover{
    font-weight: bold;
}
.title>div{
    font-size: 12px;
    color: #757575;
    text-align: left;
    margin-left: 100px;
}
.end>p{
    color: #000;
    font-size: 15px;
}
.endImg{
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 10px auto;
}
.endImg>img{
    margin-top: 10px;
    width: 30px;
}
.enull{
    width: 60px;
    border: 1px solid #e5e5e5;
    margin: 15px auto;
}
.ww{
    font-size: 15px;
    color: #000;
    margin: 20px 0 10px;
}
.img{
    margin: 0 auto;
    width: 200px;
    padding: 10px 70px 10px 30px;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: left;
}
.img>span:nth-child(1){
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../img/购物袋\ \(1\).png") 0 0 no-repeat;
    background-size: 100%;
}
.img>span{
    vertical-align: top;
    font-size: 15px;
    color: #000;
}