.caption{
   text-align: center;
   font-weight: 200;
}
.introduce video{
    width: 65%;
    height: 560px;
    margin-left:20px;
}
.introduce1{
    display: inline-block;
    width:30%;
    vertical-align: top;
    margin-left: 15px;
}
.introduce1 h1{
    font-size: 45px;
}
.share{
    width: 70%;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin: 60px;
    cursor: pointer;
}
.share:hover{
    font-weight: bold;
}