body{
    margin: 0;
    padding: 0;
}
/* 顶部栏样式 */
.headline{
    background: rgb(120,14,21);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 24px 0;
    letter-spacing: 1px;
}
/* 顶部logo部分样式开始 */
.logo{
    width: 100%;
    border-bottom: 1px solid #888;
    padding:40px 0;   
}
.retu{
    color: #666;
    display: inline-    ;
    margin-left:290px;
}
.layui-icon-left:before {
    content: "\e603";
    font-size: 20px;
    vertical-align: middle;
}
.logos{
    display: inline-block;
    vertical-align: middle;
    margin-left: 400px;
}
.logos img{
    width: 120px;
    height: 40px;
    display: inline-block;
}
.collect{
    margin-left: 260px;
}
.collect img,.dauser img,.shoppingbag img{
    width: 24px;
    margin: 0 13px;
    cursor: pointer;
}
/* 顶部结束 */
/* 创建账户开始 */
.found{
    /* border: 1px solid #777; */
    width: 43%;
    margin:0 auto;
    padding: 20px 0;
}
.found h1{
    font-weight: bold;
    color: #777;
}
.founder{
    display: inline-block;
    width: 100%;
    border: 1px solid #777;
    margin-top: 20px;
    padding: 30px;
}
.founds1{
    width: 50%;
    vertical-align: top;
    display: inline-block;

}
.founder1{
    font-size: 14px;
}
.founder1 span{
    margin-right: 74px;
}
.founder2{
    height: 100px;
    width: 100%;
    border-right: 1.2px solid #888;
}
.founder2 div{
    margin:30px 0;
}
.founder2 input{
    width: 150px;
    font-size: 11px;
    height: 20px;
    border-radius: 4px;
    border: none;
    padding: 6px;
    background: rgb(241, 236, 236);
}
.protocols{
    margin-top: 20px;
}
.protocols input{
    height: 17px;
    width: 17px;
}
.protocols span{
    vertical-align: top;
    display: inline-block;
    width: 210px;
    color: #888;
    font-size: 12px;
}
/* 忘记密码部分 */
.founder3{
    margin-top: 20px;
}
.founder3 a{
    font-size: 12px;
}
.founder3 span{
    margin-left: 100px;
    padding: 7px 15px;
    background: #000;
    color: #fff;
    font-size: 13px;
    border-radius: 20px;
}
.shu{
    border: 1px solid #999;
    height: 180px;
}
/* 右边创建入口 */
.founds2{
    display: inline-block;
}
.founds2 p{
    margin-left: 45px;
    color: #777;
}
.founds21{
    margin: 40px 0;
    font-size: 13px;
}
.foundbtn{
    width: 150px;
    padding: 6px 20px;
    text-align: center;
    border-radius: 20px;
    margin-left: 45px;
    color: #fff;
    background: #000;
    cursor: pointer;
}
/* 注意事项 */
.notice{
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #666;
}
/* 底部开始 */
.base{
    margin-top: 50px;
    border-top: 1px solid #777;
}
.base .baseone{
    width: 30%;
    padding:190px 0px;
    display: inline-block;
    padding-left:100px;
}
.area{
    width: 300px;
    height: 20px;
    border: 1px solid #777;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
}
.area img{
    width: 20px;
}
.area span{
    vertical-align: middle;
    margin-right: 100px;
}
.state{
    width: 65%;
    font-size: 17px;
    text-align: center;
    margin: 10px 0;
}
/* 底部中间div */
.issue{
    vertical-align: top;
    width: 33.3%;
    display: inline-block;
}
.issue1 a{
    text-align: center;
    display: block;
    margin: 23px 0;
}
.issue2 img{
    width: 13px;
}
.issue2 p{
    margin: 5px 0;
    padding-left: 90px;
}
.issue2{
    margin-top: 50px;
    font-size: 12px;
    color: #777;
}
/* 底部最右边 */
.relation{
    display: inline-block;
    margin-left: 30px;
}
.relation p{
    margin: 14px 90px;
}
.relation img{
    margin: 0 35px;
}