.central{
    margin: 50px auto;
    border: 1px solid #777;
    width: 45%;
    padding: 25px;
}
.central h1{
    font-weight: bold;
    color: #555;
}
.central div{
    margin: 30px 0;
}
.guide{
    font-size: 13px;
    color: #444;
    margin:8px 0;
}
.loginname span{
    color: #333;
    font-size: 13px;
    margin-right: 50px;
}
.loginname input{
    padding: 5px;
    border-radius:7px;
    border: none;
    background: rgb(214, 208, 208);
    font-size: 13px;
}
.cell-phone span{
    color: #333;
    font-size: 13px;
    margin-right: 37px;
}
.cell-phone input{
    padding: 5px;
    border-radius:7px;
    border: none;
    background: rgb(214, 208, 208);
    font-size: 13px;
}
.coded span{
    color: #333;
    font-size: 13px;
    margin-right: 50px;
}
.coded input{
    padding: 5px;
    border-radius:7px;
    border: none;
    background: rgb(214, 208, 208);
    font-size: 13px;
}
.zcbtn{
    padding: 6px 15px;
    border-radius: 20px;
    border: none;
    background: #000;
    color: #fff;
    text-align: right;
}